<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>Learn Game Development at ZENVA.com</title>
     <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <!-- Just for basic styling. -->
{#      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>#}
{#      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>#}

      <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

{#      <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>#}
{#      <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>#}

      <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <div id="errors" style="
      background: #c00;
      color: #fff;
      display: none;
      margin: -20px -20px 20px;
      padding: 20px;
      white-space: pre-wrap;
    "></div>
    <div id="root"></div>
    <div id="game01"></div>
    <script>
    window.addEventListener('mousedown', function(e) {
      document.body.classList.add('mouse-navigation');
      document.body.classList.remove('kbd-navigation');
    });
    window.addEventListener('keydown', function(e) {
      if (e.keyCode === 9) {
        document.body.classList.add('kbd-navigation');
        document.body.classList.remove('mouse-navigation');
      }
    });
    window.addEventListener('click', function(e) {
      if (e.target.tagName === 'A' && e.target.getAttribute('href') === '#') {
        e.preventDefault();
      }
    });
    window.onerror = function(message, source, line, col, error) {
      var text = error ? error.stack || error : message + ' (at ' + source + ':' + line + ':' + col + ')';
      errors.textContent += text + '\n';
      errors.style.display = '';
    };
    console.error = (function(old) {
      return function error() {
        errors.textContent += Array.prototype.slice.call(arguments).join(' ') + '\n';
        errors.style.display = '';
        old.apply(this, arguments);
      }
    })(console.error);
    </script>

    <script type="text/babel" src="{% static 'js/main.js'%}"></script>
{#  <script type="text/babel" src="{% static 'js/game01.js'    %}"></script></body>#}
</html>

